{% extends 'summit/base.html' %}
{% block title %}Agenda | Kenya Software Summit{% endblock %}
{% block content %}
<section class="container py-5">
<h2 class="mb-4" style="color: var(--kenya-green);">Agenda Overview</h2>
<ul class="list-group">
<li class="list-group-item"><b>Day 1:</b> Policy & Innovation, Keynotes</li>
<li class="list-group-item"><b>Day 2:</b> Workshops, Hackathons, Talent Pavilion</li>
<li class="list-group-item"><b>Day 3:</b> Startup Demos, Tech Expo, Closing</li>
</ul>
</section>
{% endblock %}