{% extends 'summit/base.html' %}
{% block title %}Features | Kenya Software Summit{% endblock %}
{% block content %}
<section class="container py-5">
<h2 class="mb-4" style="color: var(--kenya-red);">Summit Features</h2>
<div class="row g-4">
<div class="col-md-4"><div class="p-3 bg-white shadow rounded">Keynote Addresses</div></div>
<div class="col-md-4"><div class="p-3 bg-white shadow rounded">Hackathons & Challenges</div></div>
<div class="col-md-4"><div class="p-3 bg-white shadow rounded">Tech Expo</div></div>
</div>
</section>
{% endblock %}