{% extends 'summit/base.html' %}
{% block title %}Media | Kenya Software Summit{% endblock %}
{% block content %}
<section class="container py-5">
<h2 class="mb-4" style="color: var(--kenya-red);">Media & Gallery</h2>
<div class="row g-4">
<div class="col-md-4"><img src="https://via.placeholder.com/400x250" class="img-fluid rounded"></div>
<div class="col-md-4"><img src="https://via.placeholder.com/400x250" class="img-fluid rounded"></div>
<div class="col-md-4"><img src="https://via.placeholder.com/400x250" class="img-fluid rounded"></div>
</div>
</section>
{% endblock %}